*, ::after, ::before {
    box-sizing: border-box;
}
html, body {
    background-color: #f5f5f5;
    font-family: 'PingFang', 'Questrial', sans-serif, 'Microsoft JhengHei';
    margin: 0;
    font-size: 16px;
    color: #333;
    height: 100%;
}
a {
    text-decoration: none;
}
.btn {
    background-color: #fff;
    border: 1px solid #737373;
    font-size: .9em;
    padding: .3em .75em;
    color: #333;
    margin: 10px;
    display: inline-block;
    &-edit{
        margin-right: 0;
    }
    &-more {
        margin-top: 20px;
        margin-left: 0;
        margin-bottom: 0;
    }
}
.wrap {
    height: 100%;
}
.header {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &__main {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}
.navbar, .controlbar {
    display: flex;
    flex-wrap: wrap;
    &__nav {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        padding: .3em .5em;
    }
    &__link {
        color: #878787;
        &:hover {
            color: #575757;
        }
    }
}
.logo {
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}
.main {
    padding-bottom: 40px;
    min-height: calc(100% - 18px); //static footer
}
.title {
    background-image: linear-gradient(to top, #000000, #434343);
    color: #fff;
    height: 241px;
    text-align: center;
    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: calc(100% - 60px);
    }
    &__main {
        font-size: 1.5em;
        width: 100%;
    }
    &__sub {
        font-size: 1.2em;
        color: #eee;
        width: 100%;
    }
}
.content {
    background-color: #fff;
    width: 90%;
    margin: -60px auto 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 600px; 
    &-articles { max-width: 920px; }
    &-login { max-width: 400px; }
    &-list { max-width: 800px; }
    &-article {
        max-width: 920px;
        .article {
            &__title {
                font-size: 1em;
            }
            &__content {
                color: #525252;
                text-align: justify;
                overflow:auto;
                display: block;
                white-space: pre-wrap;
            }
        }
    }
}

.article {
    border: 1px solid #9a9a9a;
    padding: 20px;
    margin: 20px;
    &:not(:last-child) {
        margin-bottom: 30px;
    }
    &__header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10px;
        align-items: center;
    }
    &__title {
        font-size: 1.2em;
    }
    &__content {
        color: #525252;
        text-align: justify;
        overflow:hidden;
        //only chrome
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
    }
}
.footer {
    background-color: #000;
    color: #fff;
    font-size: .8em;
    padding: 10px;
    text-align: center;
}


label, input {
    display: block;
    margin: auto;
    box-sizing: border-box;
}
label {
    padding: 10px;
    font-weight: 600;
}
input, textarea {
    background-color: #f5f5f5;
    border: 1px solid #F1F5FC;
    padding: 10px; 
    margin-bottom: 10px;
    width: 100%;  
    &:focus {
        outline: 0;
        border: 1px solid #393939;
    }
    &[type="submit"] {
        margin-left: 0;
        margin-right: 0;
        cursor: pointer;
    }
}
.login {
    min-height: 300px;
    display: flex;
    align-items: center;
}
.post__form {
    padding: 20px;
    &-member {
        width: 200px;
        margin: auto;
    }
}

.list {
    list-style: none;
    padding: 0px 40px;
    &__item {
        border-bottom: 1px solid #000;
        display: flex;
        align-items: center;
    }
    .article__title {
        flex: 1;
        max-width: 70%;
        a {
            color: #000;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .article__create {
        font-size: .8em;
    }
}
.error {
    font-size: 14px;
    color: #a23636;
}

.page {
    text-align: center;
    a {
        color: #333;
        text-decoration: none;
        padding: 10px;
        border: 1px solid #333;
        display: inline-block;
    }
    &_count {
        font-size: 14px;
        color: #666;
    }
}