* ::after, ::before {
    box-sizing: border-box;
}
input[type="submit"] {
    cursor: pointer;
    &:hover {
        opacity: .9;
    }
}
.text-center {
    text-align: center !important;
}    
html, body {
    background-color: #D8DFF6;
    font-family: 'PingFang', 'Questrial', sans-serif, 'Microsoft JhengHei';
    margin: 0;
    font-size: 16px;
    color: #3d4050;
}
.wrap {
    max-width: 700px;
    width: calc(100% - 30px);
    margin: 40px auto;
    background-color: #fff;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0px 1px 20px rgba($color: #778cce, $alpha: .1);
}
.board {
    background-color: #F1F5FC;
    &__header {
        background-color: #fff;
        padding: 10px 35px 30px;
        color: #3E4150;
        border-radius: 40px;
    }
    &__title {
        font-size: 2em;
        color: #2B3650;
        font-weight: bolder;
        margin: 30px 0px 20px;
        border-bottom: 3px solid #3E7FFE;
        padding-bottom: 5px;
        padding-left: 10px;
    }
    &__body {
        padding: 30px 35px 30px;
    }
}
.error {
    color: salmon;
    text-align: center;
    font-size: 12px;
}
.post {
    &__desc {
        margin-bottom: 10px;
        font-size: 14px;
        padding-left: 10px;
    }
    &__content {
        background-color: #F1F5FC;
        border-color: #F1F5FC;
        border-radius: 20px;
        width: 93%;
        padding: 20px;
        transition: all .25s;
        resize: vertical;
        &:focus {
            outline: 0;
            border-color: #3E7FFE;
        }
    }
    &__form-member {
        .btn-submit {
            margin-top: 40px;
        }
    }
}
label, input {
    display: block;
    margin: auto;
}
label {
    padding: 10px;
    text-align: center;
    font-weight: 600;
}
input {
    background-color: #F1F5FC;
    border: 1px solid #F1F5FC;
    border-radius: 8px;
    padding: 10px; 
    margin-bottom: 10px;  
    &:focus {
        outline: 0;
        border: 1px solid #3E7FFE;
    }
}
.btns {
    text-align: right;
    margin-top: 20px;
}
.btn {
   background-color: #3E7FFE;
   border-radius: 20px;
   border-bottom-right-radius: 0px;
   border: 1px solid #3E7FFE;
   padding: 8px 18px;
   color: #fff;
   margin: 0px 5px;
   text-decoration: none;
   &:focus {
       outline: 0;
   }
   &-login {
    background-color: #fff;
    color: #3E7FFE;
   }
   &-submit {
        border-radius: 20px;
        background-color: #3ECCFE;
        border-color: #3ECCFE;
        padding: 8px 40px;
        margin: 10px auto;
    }
    &-s {
        font-size: 12px;
        padding: 6px 12px;
        margin-left: 10px;
        display: inline-block;
    }
}
.card {
    margin: 30px 0px;
    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    &__img {
        display: inline-block;
        width: 35px;
        height: 35px;
        background-color: #fff;
        border-radius: 50%;
        margin-left: 5px;
    }
    &__name {
        flex: 1;
        line-height: 35px;
        padding-left: 10px;
        color: #2B3650;
        font-weight: 600;
    }
    &__body {
        background-color: #fff;
        border-radius: 1.3em;
        margin: 10px 5px 0px;
        min-height: 100px;
        padding: 20px;
        word-wrap: break-word;
    }
    &__date {
        text-align: right;
        font-size: 12px;
        color: #949aac;
    }
    a {
        color: #3E7FFE;
        text-decoration: none;
        padding: 0px 5px;
        &:hover {
            text-decoration: underline;
        }
    }
}
.updateUser {
    display: flex;
    margin-bottom: 10px;
    .btn {
        margin-top: 0;
        height: 37px;
    }
    .error {
        text-align: left;
    }
    label {
        margin: 0;
        padding: 8px;
        padding-left: 0;
    }
    input {
        margin-bottom: 0;
    }
    &.hide {
        display: none;
    }
}

.table {
    width: 100%;
    text-align: center;
    background-color: #f8fcff;
    thead { 
        background-color: #4477f9;
        color: #fff;
        font-weight: bolder;
    }
    td { padding: 10px; }
    td { border-bottom: 1px solid #c4d6ff;}
}
.page {
    text-align: center;
    a {
        color: #3E7FFE;
        text-decoration: none;
        padding: 10px;
        &:hover {
            text-decoration: underline;
        }
    }
    &_count {
        font-size: 14px;
        color: #666;
    }
}